@keyframes shake {

    0%,
    100% {
        /* transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1); */

        transform: translateX(-10%);
        animation-timing-function: cubic-bezier(0., 0, 1, 1);
    }

    50% {
        transform: translateX(10%);
        animation-timing-function: cubic-bezier(0, 0, 1, 1);
    }
}

.bounce-animation {
    animation: shake 0.2s ease-in-out 2 ;
}

